.btn-primary-1{
    height: var(--size-2);
    width: max-content;
    padding: var(--gap-6) var(--size-2);

    font-weight: var(--font-weight-2);
    font-size: var(--font-text-2);

    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-white);
    border-radius: var(--radius-2);
    cursor: pointer;
}
.btn-primary-1:hover{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary)
}

.btn-primary-2{
    height: var(--size-3);
    width: max-content;
    padding: var(--gap-6) var(--gap-2);

    font-weight: var(--font-weight-2);
    font-size: var(--font-text-2);

    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-white);
    border-radius: var(--radius-2);
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-primary-2:hover{
    background-color: var(--color-secondary);
    border-color: var(--color-primary)
}

.btn-trash{
    background-image: url("../assets/img/trash.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
    background-color: var(--color-grey-5);
    
    height: 2.375rem;
    width: 2.75rem;
    border: .125rem solid var(--color-grey-5);
    border-radius: var(--radius-2);
}
.btn-trash:hover{
    background-color: var(--color-grey-3);
    border: .125rem solid var(--color-grey-3);
}

.btn-grey-1{
    width: max-content;
    padding: var(--gap-8) var(--gap-7);

    font-weight: var(--font-weight-3);
    font-size: var(--font-text-3);

    background-color: var(--color-grey-3);
    border: 2px solid var(--color-grey-3);
    color: var(--color-grey-2);
    border-radius: var(--radius-2);
}

/*OTHER BUTTONS FROM SCAFFOLD 

.btn-white{
    height: var(--size-1);
    width: max-content;
    padding: 0 var(--gap-1);

    font-weight: var(--font-weight-1);
    font-size: var(--font-text-1);

    background-color: var(--color-white);
    border: 2px solid var(--color-white);
    color: var(--color-grey-1);
    border-radius: var(--radius-2);
    cursor: pointer;
}

.btn-white:hover{
    background-color: var(--color-grey-4);
    border: 2px solid var(--color-grey-4);
}

.btn-outline{
    height: var(--size-1);
    width: max-content;
    padding: 0 var(--gap-1);

    font-weight: var(--font-weight-1);
    font-size: var(--font-text-1);

    background-color: var(--color-white);
    border: 3px solid var(--color-grey-1);
    color: var(--color-grey-1);
    border-radius: var(--radius-2);
    cursor: pointer;
}

.btn-outline:hover{
    background-color: var(--color-primary-transparent);
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
}

.btn-outline:focus, .btn-outline-active{
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
    color: var(--color-grey-4);
} */