.title-1{
    font-size: var(--font-title-1);
    font-weight: var(--font-weight-1);
    line-height: 150%;
}
.title-2{
    font-size: var(--font-title-2);
    font-weight: var(--font-weight-1);
    line-height: 150%;
}
.title-3{
    font-size: var(--font-title-3);
    font-weight: var(--font-weight-1);
    line-height: 150%;
}
.title-4{
    font-size: var(--font-title-4);
    font-weight: var(--font-weight-1);
    line-height: 150%;
}
.title-5{
    font-size: var(--font-title-5);
    font-weight: var(--font-weight-1);
    line-height: 150%;
}
.text-1{
    font-size: var(--font-text-1);
    font-weight: var(--font-weight-3);
    line-height: 150%;
}
.text-2{
    font-size: var(--font-text-2);
    font-weight: var(--font-weight-3);
    line-height: 150%;
}
.text-3{
    font-size: var(--font-text-3);
    font-weight: var(--font-weight-3);
    line-height: 150%;
}
a{
    text-decoration: none;
    line-height: 150%;
}